In [ ]:
## Chapter 2 Assignment

In [ ]:
## Olivia Saroukos

In [8]:
import pandas as pd

In [9]:
import numpy as np

In [10]:
df = pd.read_csv('ramenrating.csv')

In [11]:
df.head()

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [12]:
df.head(5)

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [13]:
df.tail(5)

,Brand,Variety,Style,Country,Stars
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5
2573,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0
2574,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0
2575,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0
2576,Westbrae,Miso Ramen,Pack,USA,0.5

In [16]:
df.describe()

             Stars
count  2577.000000
mean      3.654676
std       1.015331
min       0.000000
25%       3.250000
50%       3.750000
75%       4.250000
max       5.000000

In [17]:
df.value_counts(dropna=False)

Brand         Variety                                             Style  Country     Stars
MyKuali       Penang Red Tom Yum Goong Noodle                     Pack   Malaysia    5.00     2
Nissin        Cup Noodles Moo Manao Flavour                       Cup    Thailand    4.00     2
Indomie       Mi Goreng Jumbo Beef                                Pack   Indonesia   5.00     2
Wugudaochang  Sea Tangle & Sparerins Flavor Noodles               Bowl   China       3.75     2
Nissin        Raoh Rich Miso Flavor                               Bowl   Japan       5.00     2
                                                                                             ..
Mama          Oriental Style Instant Noodles Hot & Spicy Flavour  Pack   Bangladesh  4.00     1
              Oriental Style Instant Noodles Shrimp Flavour       Pack   Bangladesh  3.25     1
              Oriental Style Instant Noodles Tandoori Flavour     Pack   Bangladesh  4.00     1
              Pad Kee Mao Drunken                                 Pack   Thailand    2.00     1
iNoodle       Udon Noodle Soup Oriental                           Pack   Taiwan      3.75     1
Length: 2572, dtype: int64

In [29]:
df.query

<bound method DataFrame.query of                Brand                                            Variety Style  \
0          New Touch                          T's Restaurant Tantanmen    Cup
1           Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2             Nissin                      Cup Noodles Chicken Vegetable   Cup
3            Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4     Ching's Secret                                    Singapore Curry  Pack
...              ...                                                ...   ...
2572           Vifon  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...  Bowl
2573         Wai Wai                     Oriental Style Instant Noodles  Pack
2574         Wai Wai                                     Tom Yum Shrimp  Pack
2575         Wai Wai                               Tom Yum Chili Flavor  Pack
2576        Westbrae                                         Miso Ramen  Pack

       Country  Stars
0        Japan   3.75
1       Taiwan   1.00
2          USA   2.25
3       Taiwan   2.75
4        India   3.75
...        ...    ...
2572   Vietnam   3.50
2573  Thailand   1.00
2574  Thailand   2.00
2575  Thailand   2.00
2576       USA   0.50

[2577 rows x 5 columns]>

In [47]:
df.query[['Country == Vietnam']]

<class 'TypeError'>: 'method' object is not subscriptable

In [43]:
df[['Brand','Style']].head(2)

       Brand Style
0  New Touch   Cup
1   Just Way  Pack

In [45]:
df['Country']

0          Japan
1         Taiwan
2            USA
3         Taiwan
4          India
          ...
2572     Vietnam
2573    Thailand
2574    Thailand
2575    Thailand
2576         USA
Name: Country, Length: 2577, dtype: object

In [53]:
df.sort_values('Stars', ascending=False).head(3)

,Brand,Variety,Style,Country,Stars
1585,Prima Taste,Singapore Laksa La Mian,Pack,Singapore,5.0
446,Maruchan,Instant Lunch Chipotle Chicken Flavor Ramen No...,Cup,USA,5.0
484,Nongshim,Champong Noodle Soup Spicy Seafood Flavor,Pack,South Korea,5.0

In [55]:
df['Country'].replace('USA', 'United States', inplace=True)

In [56]:
df.head(5)

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,United States,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [67]:
df.groupby('Country').mean().head(100)

<ipython-input-67-676cddc11e73>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Country').mean().head(100)

                  Stars
Country
Australia      3.138636
Bangladesh     3.714286
Brazil         4.350000
Cambodia       4.200000
Canada         2.243902
China          3.421893
Colombia       3.291667
Dubai          3.583333
Estonia        3.500000
Fiji           3.875000
Finland        3.583333
Germany        3.638889
Ghana          3.500000
Holland        3.562500
Hong Kong      3.801825
Hungary        3.611111
India          3.395161
Indonesia      4.067460
Japan          3.981605
Malaysia       4.154194
Mexico         3.730000
Myanmar        3.946429
Nepal          3.553571
Netherlands    2.483333
Nigeria        1.500000
Pakistan       3.000000
Philippines    3.329787
Poland         3.625000
Sarawak        4.333333
Singapore      4.126147
South Korea    3.790554
Sweden         3.250000
Taiwan         3.665402
Thailand       3.384817
UK             2.997101
United States  3.457948
Vietnam        3.187963

In [92]:
df.groupby('Country').agg(['mean'])

<ipython-input-92-f5d315601503>:1: FutureWarning: ['Brand', 'Variety', 'Style'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby('Country').agg(['mean'])

                  Stars
                   mean
Country
Australia      3.138636
Bangladesh     3.714286
Brazil         4.350000
Cambodia       4.200000
Canada         2.243902
China          3.421893
Colombia       3.291667
Dubai          3.583333
Estonia        3.500000
Fiji           3.875000
Finland        3.583333
Germany        3.638889
Ghana          3.500000
Holland        3.562500
Hong Kong      3.801825
Hungary        3.611111
India          3.395161
Indonesia      4.067460
Japan          3.981605
Malaysia       4.154194
Mexico         3.730000
Myanmar        3.946429
Nepal          3.553571
Netherlands    2.483333
Nigeria        1.500000
Pakistan       3.000000
Philippines    3.329787
Poland         3.625000
Sarawak        4.333333
Singapore      4.126147
South Korea    3.790554
Sweden         3.250000
Taiwan         3.665402
Thailand       3.384817
UK             2.997101
United States  3.457948
Vietnam        3.187963